<footer class="bg-dark white">
  <div class="d-flex flex-wrap justify-content-between mx-auto w-75 p-4">
    <div class="col-lg-5 col-md-4 col-sm-12">
      <p class="mb-0 white ps-2 border-bottom">Horaires d'ouvertures</p>
      {{ render(controller('App\\Controller\\ListHoraireController::index')) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 white">Accueil</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 white">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 white">Administrateurs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 white">@2023 Copyright</a>
        </li>
      </ul>
      {% if app.user %}
        <a href="{{ path('app_account') }}">Mon Compte</a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
      {% else %}
        <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('app_register') }}">Inscription</a>
      {% endif %}
    </div>
  </div>
</footer>
