{% extends 'base.html.twig' %}

{% block title %}
  Nos occasions
{% endblock %}

{% block body %}
  <main class="w-100 py-5 container bg-dark mt-5">
    <div class="jumbotron white">{{ form_start(form) }}

      {{ form_end(form) }}</div>
    <h2 class="text-center white">NOS VEHICULES D'OCCASION AU {{ 'now'|date('d/m/Y') }}</h2>
    <div class="row py-lg-2 justify-content-around">
      {% for occasion in pagination %}
        <div class="col-lg-4 col-md-3 col-sm-8 my-2">
          <div class="card h-100">
            <img src="{{ occasion.image }}" class="card-img-top img-fluid py-3 px-3" alt="{{ occasion.marque }}" />
            <div class="card-body">
              <h5 class="card-title">{{ occasion.modele }}</h5>
              <p class="card-text">{{ occasion.motor }}</p>
              <p>{{ occasion.prix }} Euros</p>
            </div>
            <a href="{{ path('app_occasion_detail', { id: occasion.id }) }}" class="btn btn-dark my-1">Détails</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {{ knp_pagination_render(pagination) }}
  </main>
{% endblock %}
